language: php
php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - nightly

matrix:
  allow_failures:
    - php: nightly

before_script:
  - composer install

script:
  - vendor/bin/phpcs --standard=vendor/internations/kodierungsregelwerksammlung/ruleset.xml src/
  - vendor/bin/phpunit --exclude-group performance
